.about__icon i {
  color: #41d9ab;
}

.about__img {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.about__img img {
  width: 100% !important;
}

.about__img__box {
  width: 200px !important;
}

@media only screen and (max-width: 992px) {
  .about__content h3 {
    font-size: 1.3rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .about__img__box {
    width: 150px;
  }
}
